<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f68df5fd-677c-4999-8d53-a989867959d6/resourcegroups/cloud-shell-storage-northeurope/providers/Microsoft.Web/sites/BilCoAPIFinal</ResourceId>
    <ResourceGroup>cloud-shell-storage-northeurope</ResourceGroup>
    <ApiResourceId>/subscriptions/f68df5fd-677c-4999-8d53-a989867959d6/resourceGroups/cloud-shell-storage-northeurope/providers/Microsoft.ApiManagement/service/BilCoapiManagement/apis/BilCoWebAPIManagement</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bilcoapifinal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>08cb6e70-4f72-49d1-a220-ffcc737b618a</ProjectGuid>
    <MSDeployServiceURL>bilcoapifinal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BilCoAPIFinal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$BilCoAPIFinal</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>